@import '../../../styles/config';



.social{
    height: 3vh;
    width: 97vw;
    display: flex;
    position: absolute;
    flex-direction: row;
    bottom: 0;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    font-size: 40px;
    
    color: white;

    @include media-vsm {
        grid-gap: 15px;
    }
    @include media-sm{
        grid-gap: 20px;
    }
    @include media-md{
        grid-gap: 25px;
    }
    
    
    
    li{
    transition : all 0.2s ease-in-out;

    &:hover{
        color: $color-2;
        transform: translateY(-5px);
    }
}
}
