$color-1:white;
$color-2:rgb(1, 255, 1);
$color-3:rgb(255, 102, 0);
$color-4:black;



@mixin media-md {
    @media (min-width : 900px) {
        @content;
    }
}

@mixin media-lg{
    @media (min-width : 1250px) {
        @content;
    }
}
@mixin media-sm{
    @media (min-width : 600px) {
        @content;
    }
}
@mixin media-vsm{
    @media (min-width : 300px) {
        @content;
    }
}
@mixin media-vlg{
    @media (min-width : 1600px) {
        @content;
    }
}

